* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;  
}

#logo{
    height: 200px;
    width: 300px;
}

#pattern{
    width: auto;
    height: 150px;
    background-image: url(/img/pattern.png);
    background-color: rgb(69, 126, 212);
}

header h1 {
    font-size: 50px;
}


.undertitle {
    color:grey;
    margin: 0;
}

.yellowtext{
    background-color: yellow;
}

.big {
    font-weight: bold;
}

ul { 
    padding-left: 30px; 
} 

table, td, th, tr {
    border-spacing: 0;
    text-align: left;
    border: 1000px;
  }

thead{
    background-color: rgb(69, 126, 212);
}

.markup{
    background-color: rgba(69, 126, 212, 0.4);
}

th{
    width: 1%
}


