* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    margin-left: 5px;  
}

#logo{
    height: 200px;
    width: 300px;
}

#pattern{
    width: auto;
    height: 150px;
    background-image: url(/img/pattern.png);
    background-color: rgb(69, 126, 212);
}

header h1 {
    font-size: 50px;
}

#date{
    color: grey;
    font-size: x-small;
    margin-bottom: 15px;
}


.undertitle {
    color:grey;
    margin-top: 10px;
}

.description{
font-size: x-small;
font-weight: bold;
}

.yellowtext{
    background-color: yellow;
}

.big {
    font-weight: bold;
}

ul { 
    padding-left: 30px; 
} 

table, td, th, tr {
    border-spacing: 0;
    text-align: left;
  }

thead{
    background-color: rgb(69, 126, 212);
}

.markup{
    background-color: rgba(69, 126, 212, 0.4);
}

th{
    width: 1%
}

#firstfootimage{
    height: 200px;
    width: 250px;
    margin-top: 10px;
    background-image: url(/img/monitor.jpg);
    background-repeat: no-repeat;
    color: white;
}

#secondfootimage{
    height: 200px;
    width: 250px;
    margin-top: 10px;
    background-image: url(/img/graph.jpg);
    background-repeat: no-repeat;
    color: white;
    margin-bottom: 20px;
}

